@{
    ViewData["Title"] = "Home Page";
}

<div class="container  py-5">
    <h1 class="display-6 mb-4 text-center">🧑‍🏫 Projeto Login MVC com Entity Framework</h1>
    <p class="lead mt-2 text-center">Este projeto é um exemplo educacional de uma aplicação <strong>ASP.NET Core MVC</strong> utilizando <strong>Entity Framework Core</strong> para acesso a dados, <strong>Identity Framework</strong> para autenticação e autorização de usuários, e estilização com <strong>Bootstrap 5.3</strong>. O layout é totalmente responsivo com base no sistema de Grid do Bootstrap.</p>

    <h2 class="lead mt-5">✨ Funcionalidades</h2>
    <ul class="mt-2">
        <li>Estrutura de projeto em ASP.NET Core MVC</li>
        <li>Acesso a dados com Entity Framework Core</li>
        <li>Autenticação e autorização com ASP.NET Core Identity</li>
        <li>Interface responsiva com Bootstrap 5.3</li>
        <li>Layout organizado com Grid System</li>
        <li>Registro, login e controle de acesso por perfil de usuário</li>
        <li>Organização pronta para uso em ambientes educacionais ou de aprendizado</li>
    </ul>

    <h2 class="lead mt-5">🛠️ Tecnologias Utilizadas</h2>
    <ul class="mt-2">
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>ASP.NET Identity</li>
        <li>Bootstrap 5.3</li>
        <li>SQL Server (LocalDB)</li>
    </ul>

</div>